body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #343a40;
}

.content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.expense-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.expense-form input,
.expense-form select {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.button-container {
  display: flex;
  margin-top: 10px;
}

.btn-update, .btn-add {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

.btn-update:hover, .btn-add:hover {
  background-color: #0056b3;
}

.btn-cancel {
  padding: 10px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

.btn-cancel:hover {
  background-color: #c82333;
}

@media (max-width: 400px) {
  .App {
      padding: 10px;
  }

  .expense-form input, 
  .expense-form select,
  .expense-form button {
    width: 100%;
  }
}
